# Author: Harshada Meghashyam Halarnkar
### Tool: Jupyter Notebook
### Python Programming Language
#### Titanic Dataset, link: https://www.kaggle.com/competitions/titanic/data
#### External Source used to learn to create features: https://www.youtube.com/watch?v=COUWKVf6zKY

### 
### Aim: To predict the if a person survived or not in the test dataset
#### Created new features with existing columns, tested with multiple models learnt and applied the best model.

In [230]:
#Importing the datasets
import pandas as pd
df = pd.read_csv("C:\\Users\\harsh\\Desktop\\GIM Terms\\CasestudyCompetitions\\titanic\\train.csv")
df1 = pd.read_csv("C:\\Users\\harsh\\Desktop\\GIM Terms\\CasestudyCompetitions\\titanic\\test.csv")

In [231]:
#Displaying training dataset
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [232]:
#Displaying testing dataset
df1.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [233]:
#Check null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [234]:
#Check null values
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [235]:
#Creating new feature Title from Name
d = [df,df1]
for d1 in d:
    d1['Title'] = d1['Name'].str.extract(' ([A-Za-z]+)\.', expand = False)
df['Title'].value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Col           2
Mlle          2
Lady          1
Mme           1
Ms            1
Capt          1
Don           1
Countess      1
Jonkheer      1
Sir           1
Name: Title, dtype: int64

In [236]:
df1['Title'].value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Rev         2
Col         2
Ms          1
Dr          1
Dona        1
Name: Title, dtype: int64

In [237]:
#Converting Title to numerical variable
title = {"Mr":0, "Miss":1, "Mrs":2, "Master":3, "Dr":3, "Rev":3, "Col":3, "Major":3, "Mlle":3, "Capt":3, "Jonkheer":3,
         "Mme":3, "Countess":3, "Ms":3, "Sir":3, "Don":3, "Lady":3,"Dona":3}
for d1 in d:
    d1['Title'] = d1['Title'].map(title) 
df['Title'].head()

0    0
1    2
2    1
3    2
4    0
Name: Title, dtype: int64

In [238]:
#Drop the Name column after extracting information
df = df.drop(columns = ['Name'])
df2 = df1.drop(columns = ['Name'])

In [239]:
#Fill missing values in Age variable with median by grouping according to Title like Mr, Miss, etc.
df['Age'].fillna(df.groupby('Title')['Age'].transform('median'), inplace = True)
df2['Age'].fillna(df2.groupby('Title')['Age'].transform('median'), inplace = True)

In [242]:
#Convert Age to bins
for d1 in [df,df2]:
    d1.loc[d1['Age'] <= 16, 'Age'] = 0
    d1.loc[(d1['Age'] > 16) & (d1['Age'] <= 26), 'Age'] = 1
    d1.loc[(d1['Age'] > 26) & (d1['Age'] <= 36), 'Age'] = 2
    d1.loc[(d1['Age'] > 36) & (d1['Age'] <= 62), 'Age'] = 3
    d1.loc[d1['Age'] > 62 , 'Age'] = 4

In [240]:
#Count the types of values in Embarked 
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [241]:
#Fill missing values with most frequent one
df['Embarked'] = df['Embarked'].fillna('S')

In [243]:
#Convert Sex and Embarked to dummy variables
df = pd.get_dummies(data=df, columns=['Sex','Embarked'])
df = df.drop(columns = ['Sex_male'])
df2 = pd.get_dummies(data=df2, columns=['Sex','Embarked'])
df2 = df2.drop(columns = ['Sex_male'])

In [244]:
#Fill fare with median fare by Passenger class
df2['Fare'].fillna(df2.groupby('Pclass')['Fare'].transform('median'), inplace = True)

In [245]:
#Convert Fare to bins
for d1 in [df,df2]:
    d1.loc[d1['Fare'] <= 17, 'Fare'] = 0
    d1.loc[(d1['Fare'] > 17) & (d1['Fare'] <= 30), 'Fare'] = 1
    d1.loc[(d1['Fare'] > 30) & (d1['Fare'] <= 100), 'Fare'] = 2
    d1.loc[d1['Fare'] > 100 , 'Fare'] = 4

In [246]:
#Only include the first letter of the Cabin variable in itself 
for d1 in [df,df2]:
    d1['Cabin'] = d1['Cabin'].str[:1]

In [247]:
#Converting Cabin to numerical variable
cabin = {"A":0, "B":0.4, "C":0.8, "D":1.2, "E":1.6, "F":2, "G":2.4, "T":2.8}
for d1 in [df,df2]:
    d1['Cabin'] = d1['Cabin'].map(cabin)

In [248]:
#Fill missing values in Cabin variable with median by grouping according to Passenger class.
df['Cabin'].fillna(df.groupby('Pclass')['Cabin'].transform('median'), inplace = True)
df2['Cabin'].fillna(df2.groupby('Pclass')['Cabin'].transform('median'), inplace = True)

In [249]:
#Displaying the train dataset
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Title,Sex_female,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,1.0,1,0,A/5 21171,0.0,2.0,0,0,0,0,1
1,2,1,1,3.0,1,0,PC 17599,2.0,0.8,2,1,1,0,0
2,3,1,3,1.0,0,0,STON/O2. 3101282,0.0,2.0,1,1,0,0,1
3,4,1,1,2.0,1,0,113803,2.0,0.8,2,1,0,0,1
4,5,0,3,2.0,0,0,373450,0.0,2.0,0,0,0,0,1

In [250]:
#Displaying the test dataset
df2.head()

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Title,Sex_female,Embarked_C,Embarked_Q,Embarked_S
0,892,3,2.0,0,0,330911,0.0,2.0,0,0,0,1,0
1,893,3,3.0,1,0,363272,0.0,2.0,2,1,0,0,1
2,894,2,3.0,0,0,240276,0.0,2.0,0,0,0,1,0
3,895,3,2.0,0,0,315154,0.0,2.0,0,0,0,0,1
4,896,3,1.0,1,1,3101298,0.0,2.0,2,1,0,0,1

In [251]:
#Create new variable FamilySize 
df['FamilySize'] = df['SibSp']+df['Parch']+1
df2['FamilySize'] = df2['SibSp']+df2['Parch']+1

In [252]:
#Converting FamilySize to smaller numerical variables
family = {1:0, 2:0.4, 3:0.8, 4:1.2, 5:1.6, 6:2, 7:2.4, 8:2.8, 9:3.2, 10:3.6, 11:4}
for d1 in [df,df2]:
    d1['FamilySize'] = d1['FamilySize'].map(family)

In [253]:
#Dropping column Ticket as it is difficult to extract information from
df2 = df2.drop(columns = ['Ticket'])
df = df.drop(columns = ['Ticket'])

In [254]:
#Displaying the train dataset
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,Title,Sex_female,Embarked_C,Embarked_Q,Embarked_S,FamilySize
0,1,0,3,1.0,1,0,0.0,2.0,0,0,0,0,1,0.4
1,2,1,1,3.0,1,0,2.0,0.8,2,1,1,0,0,0.4
2,3,1,3,1.0,0,0,0.0,2.0,1,1,0,0,1,0.0
3,4,1,1,2.0,1,0,2.0,0.8,2,1,0,0,1,0.4
4,5,0,3,2.0,0,0,0.0,2.0,0,0,0,0,1,0.0

In [255]:
#Displaying the test dataset
df2.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Cabin,Title,Sex_female,Embarked_C,Embarked_Q,Embarked_S,FamilySize
0,892,3,2.0,0,0,0.0,2.0,0,0,0,1,0,0.0
1,893,3,3.0,1,0,0.0,2.0,2,1,0,0,1,0.4
2,894,2,3.0,0,0,0.0,2.0,0,0,0,1,0,0.0
3,895,3,2.0,0,0,0.0,2.0,0,0,0,0,1,0.0
4,896,3,1.0,1,1,0.0,2.0,2,1,0,0,1,0.8

In [260]:
#Creating datasets for use as training and testing
X = df.drop(columns = ['Survived'])
Y = df[['Survived']]

In [261]:
#Importing all the relevant models
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [262]:
#Importing other parameters
from sklearn.model_selection import cross_val_score,KFold
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [263]:
#Decision Tree Model
dt = DecisionTreeClassifier()
kf = KFold(n_splits=5)
score = cross_val_score(dt,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.79888268 0.78651685 0.76404494 0.76404494 0.83707865]
Average Cross Validation score :0.7901136149645346

In [264]:
#Random Forest Model
rf = RandomForestClassifier()
kf = KFold(n_splits=5)
score = cross_val_score(rf,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:593: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Cross Validation Scores are [0.76536313 0.79213483 0.80898876 0.80898876 0.86516854]
Average Cross Validation score :0.8081288054736049

In [265]:
#Logistic Regressiont Model
lgr = LogisticRegression()
kf = KFold(n_splits=5)
score = cross_val_score(lgr,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Cross Validation Scores are [0.81564246 0.83146067 0.79775281 0.78651685 0.84831461]
Average Cross Validation score :0.8159374803841567

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [267]:
#Linear Regressiont Model
lr = LinearRegression()
kf = KFold(n_splits=5)
score = cross_val_score(lr,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.33352595 0.38536244 0.41231637 0.34481371 0.46899564]
Average Cross Validation score :0.38900282098343064

In [268]:
#Gaussian NB Model
gnb = GaussianNB()
kf = KFold(n_splits=5)
score = cross_val_score(gnb,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.74860335 0.75280899 0.7752809  0.78651685 0.80898876]
Average Cross Validation score :0.7744397715146569

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [270]:
#K Nearest Neighbors Classifier Model
knn = KNeighborsClassifier()
kf= KFold(n_splits=5)
score = cross_val_score(knn,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.67039106 0.55617978 0.47191011 0.59550562 0.35393258]
Average Cross Validation score :0.5295838302680309

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [271]:
#SVM Model
svc = SVC()
kf= KFold(n_splits=5)
score = cross_val_score(svc,X,Y,cv = kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Cross Validation Scores are [0.67039106 0.55617978 0.61235955 0.59550562 0.64606742]
Average Cross Validation score :0.6161006842006153

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [272]:
#Taking the Logistic Regression model and creating a new model to be used by test data
model1 = LogisticRegression()
model1.fit(X.drop('PassengerId',axis=1),Y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [273]:
#Predicting the test dataset values
y_pred = model1.predict(df2.drop("PassengerId", axis = 1).copy())
df3 = pd.DataFrame(y_pred,columns=['Survived'])
df3[['PassengerId']] = df1[['PassengerId']]
df3 = df3[['PassengerId','Survived']]
df3 = df3.set_index('PassengerId')
df3.to_csv('file4.csv')

In [274]:
#Display the dataset
df3.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 1